.profile__info {
  margin: 18px 0 0 30px;
  padding: 0;
  width: 336px;
  text-align: start;
}

@media screen and (max-width: 600px) {
  .profile__info {
    margin: 14px 0 0 0;
    text-align: center;
    width: 100%;
  }
}
