.button_action_edit {
  margin: 0 0 0 17px;
  padding: 0;
  width: 24px;
  height: 24px;
  align-self: center;
  border: none;
  background-image: url("../../../images/btn_edit.png");
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .button_action_edit {
    width: 18px;
    height: 18px;
    margin: 0 0 0 1px;
  }
}
